body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255)
}
input{
    width: 300px;
    height: 25px;
    border: 3px solid rgb(0, 0, 0) 
}

#valor{ 
    color:red;
}